<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <div class="container">
            <h1>New Stories</h1>
            <form action="/stories/<%=story.id%>?_method=PUT" method="POST">
                Title: <input type="text" name="title"/><br/>
                Entry: <textarea name="entry" rows="8" cols="80"></textarea><br/>
                <input type="submit" name="" value="Archive"/>
            </form>
            <button type="button" name="button">
                <a href="/stories">Back</a>
            </button>
        </div>
    </body>
</html>
